# Deny access to .htaccess and .htpasswd if in use
# <FilesMatch "(\.htaccess)"> Order deny,allow Deny from all </FilesMatch>
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /plantcircle/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /plantcircle/index.php [L]

</IfModule>

# END WordPress